<%= semantic_form_for @setting, url: @setting.persisted? ? admin_setting_path(@setting) : admin_settingss_path(@setting),
                      as: :setting, html: {:class => "form-horizontal"} do |f| %>
    <%= f.semantic_errors :var, :value%>
    <%= f.inputs do %>
        <%= f.input :var %>
        <%= f.input(:value) %>
    <% end %>
    <%= f.actions :class => 'form-group' do %>
        <div class="col-lg-offset-2 col-lg-8">
          <%= f.action :submit %>
          <%= f.action :cancel %>
        </div>
    <% end %>
<% end %>