<%
   # Defining breadcrumbs
   @breadcrumbs = [
           {:link => admin_menu_items_path(:menu_id => params[:menu_id]), :title => t('backend_part.menu_items')},
           {:title => t('backend_part.manage')}
   ]

   # Defining menu
   @menu = [
           {:link => admin_menu_items_path(:menu_id => params[:menu_id]), :title => t('backend_part.manage_menu_items'), :icon => 'list'},
           {:link => new_admin_menu_item_path(:menu_id => params[:menu_id]), :title => t('backend_part.create_menu_item'), :icon => 'file'},
   ]
%>

<div class="page-header">
  <h1><%= t('backend_part.menu_items') %>
    <small> <%= t('backend_part.manage') %></small>
  </h1>
  <button type="button" class="btn btn-primary" id="save-order"><%= t('backend_part.save_order') %></button>
</div>

<%= admin_render_menu @tree %>

<script lang="javascript">
  order_url = "<%= change_order_admin_menu_items_path :format => :json%>"
</script>