<% title t('user.sign_in') %>

<div class="container">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-signin'}) do |f| %>
      <h2 class="form-signin-heading"><%= t('user.sign_in') %></h2>

      <% unless flash.empty? %>
            <% flash.each do |name, msg| %>
                <div class="alert alert-<%= (name == 'notice')? "info" : "danger" %>">
                  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
                </div>
              <% end %>
      <% end %>

      <%= f.email_field :email, :autofocus => true, :class => 'form-control', :placeholder => t('activerecord.attributes.user.email') %>
      <%= f.password_field :password, :class => 'form-control', :placeholder => t('activerecord.attributes.user.password') %>
      <% if devise_mapping.rememberable? -%>
          <label class="checkbox">
            <%= f.check_box :remember_me %> <%= t('activerecord.attributes.user.remember_me') %>
          </label>
      <% end -%>
      <%= f.submit t('user.sign_in'), :class => 'btn btn-lg btn-primary btn-block' %>
	  
	  <p style="margin-top: 10px"><%= link_to t('devise.passwords.forgot_password'), fluent.new_user_password_path, data: {push: true} %></a></p>
   <% end %>
</div>